#AskADocIntroShowMore, .AskADocIntroShowMore
{
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

.AskADocIntro, .hidefirst
{
	display: none;	
}

.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  /* support: IE7 */
  *height: 1.7em;
  *top: 0.1em;
}
.custom-combobox-input {
  margin: 0;
  padding: 0.3em;
}

/* Next second 5 ui styles widen the specialty select box */
 .ui-autocomplete {
    max-height: 225px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-widget input, .ui-widget select 
{
	width: 90%;
	border: 2px solid #96B8B7;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.ui-widget textarea, .ui-widget button
{
	width: 30px;
	height: 33px;
}

.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; }
.ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }

html body ul.ui-autocomplete
{
	width: 325px!important;
}

.ui-menu .ui-menu-item a 
{
	width: 325px!important;
}

#AskADocQuestion-title
{
	width: 380px;
}

#AskADocQuestion-postalCode
{
	max-width: 200px;
 	width: 50%;	
}

#AskADocQuestion-firstName, #AskADocQuestion-lastName, #AskADocQuestion-email
{
	width: 100%;
	max-width: 450px;
}

#AskADocQuestion-question
{
	width: 100%;
	max-width: 450px;
	height: 125px;
}

p.input-wrapper{
	width: 88%;
	max-width: 450px;
	padding: 0 5% 0 0%;
}

p.input-wrapper input{
	padding-left: 6.4px!important;
}

.TextField
{
	clear: both; 
	padding-top: 15px; 
	font-weight: bold;
	width: 80%;	
	max-width: 450px;
}

.TextField textarea{
	margin-left: 7px;
}

.TextField input
{
	padding-left: 6.4px!important;
}

.ComboBox
{
	clear: both; 
	padding-top: 20px; 
	height: 6px; 
	font-weight: bold;
}

.SubmitTag
{
	clear: both;
	   width: 50%;
	   padding-left: 20px;
	   max-width: 300px;
	/*padding-top: 15px;*/
}

.ErrorBox { 
  width: 100%;
  background-color: #ECF3F2; 
  position: relative;
  
  border: 2px solid #ECF3F2;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.ErrorBox p
{
	font-weight: bold; 
	font-size: 1.5em!important; 
	padding: 0px 10px 0px 10px;	
	color: maroon;
}

.ErrorBox li
{
font-weight: bolder;
font-size: 1.2em;
}

.area { 
	height: 125px; 
	width: 100%;
	background-color: #ECF3F2; 
	position: relative;
	margin: 10px 0px 10px 0px;
	 
	 border: 2px solid #ECF3F2;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
 
.bubble
{
	position: absolute; 
  	width: 100%;
  	height: 84px; 
  	display: table;	
}

.bubble p
{
	font-weight: bold;
	font-size: 16px!important;
	display: table-cell; 
  	vertical-align: middle; 
  	padding: 10px;
  	/*text-align: center;*/	
}


.styled-input-askadoc {
	position: relative;
	float: left;
	background: white!important;
	border: 2px solid #96B8B7!important;
	-webkit-border-radius: 6px!important;
	-moz-border-radius: 6px!important;
	border-radius: 6px!important;
	height: 28px;
	font-size: medium!important;
}

.ui-body-c, .ui-overlay-c {
  border: 0px solid #aaa;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  background: #f9f9f9;
  background-image: -webkit-gradient(linear,left top,left bottom,from( #f9f9f9 ),to( #eee ));
  background-image: -webkit-linear-gradient( #f9f9f9,#eee );
  background-image: -moz-linear-gradient( #f9f9f9,#eee );
  background-image: -ms-linear-gradient( #f9f9f9,#eee );
  background-image: -o-linear-gradient( #f9f9f9,#eee );
  background-image: linear-gradient( #f9f9f9,#eee );
}

#AskADocSubmitButton
{
	font: 14px/35px BreeRegular,Arial,Helvetica,sans-serif!important;
	/*letter-spacing: 1px;*/
}

/*
#AskADocSubmitButton
{
	margin: 0!important;
	padding: 0 0 2px!important;
	display: block!important;
	width: 94px!important;
	height: 30px!important;
	background: url(/images/layout/btn-search.png) no-repeat!important;
	font: 12px/30px BreeBold, Arial, Helvetica, sans-serif!important;
	color: #fff!important;
	text-align: center!important;
	cursor: pointer!important;
	border: 0!important;
	text-decoration: none!important;
}
*/

.TextField label, .ComboBox label
{
	font: 16px/24px BreeLight, Arial, Helvetica, sans-serif!important;
}

p.ComboBox
{
	padding-bottom: 38px;	
}

.resources-box p 
{
	margin-bottom: 10px;
}

/*h2
{
	margin: 0 0 5px!important;
	font: 16px/22px BreeBold, Arial, Helvetica, sans-serif!important;
	color: #7D7D7D!important;
}
*/

.askADoctorRecentCategory
{
	color: #0e7496 !important;
	background: none !important;
	width: 100% !important;
	padding: 0px 0px 6px 0px !important;
	/*border-bottom: 1px solid #eee !important;*/
}

.askADoctorRecentCategoryLink
{
	text-transform: capitalize;
	height: 26px;
	text-decoration: none!important;
	width: 159px;
	outline: none;
	color: #0e7496;
}

.askADoctorRecentCategory
{
	float: left!important;
	width: 158px!important;
	padding: 5px 0px 5px 0px!important;
	border-bottom: 1px solid #eee!important;
}

.prompt-box .modal-box {
width: 590px;
clear: both;
margin: 0px;
padding: 0px;
border: none;
border-collapse: collapse;
height: 212px;
}

.prompt-box .modal-box .closebutton {
background: url(/images/resources/bg-close-button.png) no-repeat;
width: 94px;
height: 31px;
position: relative;
top: 13px;
left: 20px;
cursor: pointer;
float: right;
margin-top: 0px;
}